;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:node {:target :node-script
         :main scrap.scrap/main
         :output-to "node-out/out.js"}
  :browser {:target :browser
            :output-dir "public/js"
            :asset-path "/js"
            :devtools {:after-load scrap.scrap/main}
            :modules {:main {:entries [scrap.scrap]}}}}}
