;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.0.0-alpha2"
   :exclusions [cljsjs/react cljsjs/react-dom]]]

 :builds
 {:node {:target :node-script
         :devtools {:after-load scrap.scrap/main}
         :main scrap.scrap/main
         :output-to "node-out/out.js"}
  :browser {:target :browser
            :output-dir "public/js"
            :asset-path "/js"
            :build-hooks [(scrap.ppp/load-env)]
            :devtools {:after-load scrap.scrap/main}
            :modules {:main {:entries [scrap.scrap]}}}}}
